/* tags */

.tag {
    border: 1px red solid;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 1px 5px 1px 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}

.selected {
    background-color: red;
}

/* filter */

.filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.filter .search {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter .inputs {
    display: flex;
    gap: 15px;
}

.filter .tags {
    display: flex;
    width: 410px;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 5px;
}

.movie-card {
    width: 300px;
    height: 400px;
    position: relative;
    background-color: #2c2c2c;
    transition: transform 300ms;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card .add-list {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    z-index: 100;
    cursor: pointer;
}


.movie-card-header {
    position: relative;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.movie-card-header img {
    width: 300px;
    height: auto;
}

.movie-card-header .movie-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    padding: 5px;
}

.movie-card-description {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100px;
}

.movie-card-description p {
    margin: 0;
    font-size: 0.9rem;
    overflow: hidden;
    height: 55%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.movie-card-description .tags {
    width: 100%;
    height: 45%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card-description .tags .tag {
    cursor: default;
}
