.dashboard .main-container {
    margin-top: 40px;
    display: flex;
}

.dashboard .outlet-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px 10px 30px 10px
}

.outlet-container .movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.outlet-container .title {
    font-size: 3rem;
    border-bottom: 4px red solid;
    line-height: 50px;
}
